* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #000;
  padding: 6px 12px;
  border-radius: 5px;
  transition: .4s;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav a.active {
  color: #fff;
  background-color: #000;
  transition: .5s;
}

nav a svg {
  width: 1.4rem;
}

.darkModeToggle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
}

.darkModeToggle svg {
  width: 1.4rem;
}

.darkModeBtn {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.darkModeBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.darkModeBtn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.darkModeBtn .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.darkModeBtn input:checked + .slider {
  background-color: #000;
}

.darkModeBtn input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

.darkModeBtn input:checked + .slider:before {
  transform: translateX(24px);
}

.banner {
  margin: 50px;
  padding: 40px 0;
  font-weight: 900;
  font-size: 2rem;
  color: #112;
  background-image: url(/logo-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner p {
  width: 100%;
  text-wrap: balance;
  margin-left: 14%;
  -webkit-animation: slideRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slideRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -ms-animation: slideRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -o-animation: slideRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slideRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.banner > span {
  color: #000;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.Toolbar .tool {
  display: flex;
  align-items: center;
}

.Toolbar .tool svg {
  width: 30px;
  margin-right: 5px;
}

.Toolbar input, .Toolbar button {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.Toolbar .sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Toolbar .sort .sortOption {
  border-radius: 30px;
  border: 2px solid #112;
  cursor: pointer;
  transition: .4s;
}

.Toolbar .sort .sortOption input {
  display: none;
}

.Toolbar .sort .sortOption input + label {
  display: inline-block;
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
}

.Toolbar .sort .sortOption label:hover {
  background-color: #ddd;
}

.Toolbar .sort .sortOption input:checked + label {
  display: inline-block;
  background: #112;
  color: #fff;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  flex-grow: 2fr 1fr;
}

.search-bar input {
  padding: 10px 12px;
  border: 1px solid #112;
  border-radius: 10px;
  font-size: 1.1rem;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.search-bar input::placeholder {
  color: #aaa;
}

.search-bar button {
  padding: 10px 16px;
  background-color: #234;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #000;
}

.galleryShimmer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}

.galleryShimmer .imageShimmer {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  position: relative;
  background-color: #ccd;
  -webkit-animation: breathe 1.5s ease-in-out infinite;
  animation: breathe 1.5s ease-in-out infinite;
}
@keyframes breathe {
  0% {
    background-color: #ccd;
  }
  50% {
    background-color: #eee;
  }
  100% {
    background-color: #ccd;
  }
}


.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}

.imageCard {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.4s;
}

.imageCard .imageCardLink {
  border-radius: inherit;
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: .4s;
}

.imageCard:hover img {
  filter: brightness(40%);
}

.imageCard .summary {
  position: absolute;
  bottom: 0;
  margin: 5px;
  border-radius: 10px;
  padding: 15px;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.imageCard .summary a {
  color: #fff;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.imageCard .actions {
  display: grid;
  position: absolute;
  top: 5px;
  right: 5px;
  gap: 5px;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.imageCard .actions button svg, .imageCard .actions a svg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px;
  color: #fff;
  filter: drop-shadow(1px 2px 8px rgba(0, 0, 0, 0.5));
}

.imageCard .actions button {
  background: none;
  border: none;
  cursor: pointer;
}

.imageCard .actions button p {
  color: #fff;
  font-weight: bold;
}

.imageCard .actions button svg:hover, .imageCard .actions a svg:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.paginator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.paginator button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #112;
  border-radius: 30px;
  padding: 8px;
  background: none;
  cursor: pointer;
}
.paginator button:hover {
  color: #fff;
  background-color: #112;
}
.paginator button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginator button svg {
  width: 1.8rem;
  height: 1.8rem;
}

.paginator .page {
  text-align: center;
}

.paginator .page .pgNo {
  font-weight: bold;
  font-size: 1.4rem;
}


footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  color: #fff;
  background-color: #112;
}

::-webkit-scrollbar {
  display: none;
}